@using Blazorise

@using DMCopilot.Backend.Models
@using DMCopilot.Backend.Services

<AuthorizeView>
    <Authorized>
        <Dropdown>
        @if (Account != null && Tenant != null)
        {
            <DropdownToggle Color="Color.Primary">
                @Tenant.Type: @Tenant.Name
            </DropdownToggle>
            <DropdownMenu>
                <DropdownHeader>Tenants</DropdownHeader>
                @foreach (var tenantRole in Account.TenantRoles)
                {
                    if (Tenant.Id == tenantRole.TenantId)
                    {
                        <DropdownItem>@tenantRole.Type: @tenantRole.Name (@tenantRole.Role)</DropdownItem>
                    }
                    else
                    {
                        <DropdownItem>@tenantRole.Type: @tenantRole.Name (@tenantRole.Role)</DropdownItem>
                    }
                }
                <DropdownDivider />
                <DropdownItem href="MicrosoftIdentity/Account/SignOut">Log out</DropdownItem>
            </DropdownMenu>
        }
        else
        {
            <DropdownMenu>
                <DropdownItem href="MicrosoftIdentity/Account/SignOut">Log out</DropdownItem>
            </DropdownMenu>
        }
        </Dropdown>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Account? Account { get; set; }

    [CascadingParameter]
    public Tenant? Tenant { get; set; }
}
