@page "/characters"

@using DMCopilot.Backend.Services
@using DMCopilot.Backend.Data
@using DMCopilot.Backend.Models

@inject ICharacterRepository characterRepository

<h3>Characters</h3>


<Table FixedHeader FixedHeaderTableHeight="300px">
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Age</TableHeaderCell>
            <TableHeaderCell>Class</TableHeaderCell>
            <TableHeaderCell>Race</TableHeaderCell>
        </TableRow>
    </TableHeader>
    @if (IsCharactersLoaded())
    {
        <TableBody>
            @foreach (var character in characters)
            {
                <TableRow @key="@character.CharacterId">
                    <TableRowHeader>@character.Name</TableRowHeader>
                    <TableRowCell>@character.Age</TableRowCell>
                    <TableRowCell>@character.Class</TableRowCell>
                    <TableRowCell>@character.Race</TableRowCell>
                </TableRow>
            }
        </TableBody>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
</Table>

@code {
    private IEnumerable<Character> characters;
    private string characterDetails { get; set; } = "A hill dwarf merchant who runs a general store in Baldurs Gate.";
    
    protected override async Task OnInitializedAsync()
    {
        await GetCharacters();
    }

    private Boolean IsCharactersLoaded()
    {
        return characters != null;
    }

    private async Task GetCharacters()
    {
        // Get the characters from the CharacterRepository
        this.characters = await characterRepository.GetCharactersAsync();
    }
}
